<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NCEI Geosamples API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>NCEI Geosamples API</h1>

<p>
    Welcome to the Geosamples API.  This service is intended for machine-to-machine communication and
    does not include a human-friendly user interface.  We recommend that you see <a href="https://www.ngdc.noaa.gov/mgg/curator/">general information</a>
    on the Index to Marine and Lacustrine Geological Samples (IMLGS) or use the
    <a href="https://maps.ngdc.noaa.gov/viewers/imlgs/">webapp</a> or
    <a href="https://maps.ngdc.noaa.gov/viewers/sample_index/">map viewer</a> to explore the data.
    You may also view the <a href="https://www.ngdc.noaa.gov/geosamples-api/swagger-ui/index.html">developer documentation</a>.
</p>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
</body>
</html>